<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] 
              = "employeeService.selectedEmployee._id">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" #name="ngModel" 
                [(ngModel)]="employeeService.selectedEmployee.name"
                placeholder="Ingrese el nombre">
              </div>
              <div class="input-field col s12">
                <input type="text" name="position" #position="ngModel" 
                [(ngModel)]="employeeService.selectedEmployee.position"
                placeholder="Ingrese su posición">
              </div>
              <div class="input-field col s12">
                <input type="text" name="office" #office="ngModel" 
                [(ngModel)]="employeeService.selectedEmployee.office"
                placeholder="Ingrese su oficina">
              </div>
              <div class="input-field col s12">
                <input type="text" name="salary" #salary="ngModel" 
                [(ngModel)]="employeeService.selectedEmployee.salary"
                placeholder="Ingrese su sueldo">
              </div>
              <div class="card-action">
                <div class="input-field col s12" >
                  <button class="btn right" style="margin-left: 2px" (click)="resetForm(employeeForm)"> Clean</button>
                  <button class="btn right" style="margin-left: 2px"> Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Operations</th>
        </thead>
        <tr *ngFor = "let employee of employeeService.employees">
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.office }}</td>
          <td>
            <a (click)="editEmployee(employee)">
              <i class="material-icons">edit</i>
            </a>
            <a (click)="deleteEmployee(employee._id)">
                <i class="material-icons">delete</i>
              </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
